:root {
  --bg-1: #f8fafb;
  --bg-2: #ffffff;
  --bg-3: #eff4f8;
  --bg-4: #b3c0ce;
  --bg-5: #eaedf0;
  --c-1: #44566c;
  --c-2: #8697a8;
  --primary: #0081ff;
  --blue: #22cce2;
  --red: #ff3d57;
  --orange: #ff8a48;
  --green: #09b66d;
  --yellow: #fdbf5e;

  --shadow-1: 0px 12px 16px rgba(169, 194, 209, 0.1),
    0px 2px 4px rgba(169, 194, 209, 0.05);
  --shadow-2: 0px 8px 16px rgba(169, 194, 209, 0.1),
    0px 4px 4px rgba(169, 194, 209, 0.05);
  --shadow-primary: 0px 8px 16px rgba(0, 129, 255, 0.2);
  --shadow-green: 0px 8px 16px rgba(9, 182, 109, 0.2);
  --shadow-yellow: 0px 8px 16px rgba(253, 191, 94, 0.2);
  --shadow-red: 0px 8px 16px rgba(255, 61, 87, 0.2);
  --shadow-blue: 0px 8px 16px rgba(34, 204, 226, 0.2);
}
[data-theme="dark"] :root {
  --bg-1: #15232e;
  --bg-2: #1f2935;
  --bg-3: #eff4f8;
  --bg-4: #b3c0ce;
  --bg-5: #eaedf0;
  --c-1: #ffffff;
  --c-2: #737781;
  --shadow-1: 0px 12px 16px rgba(169, 194, 209, 0.1),
    0px 2px 4px rgba(169, 194, 209, 0.05);
  --shadow-2: 0px 8px 16px rgba(169, 194, 209, 0.1),
    0px 4px 4px rgba(169, 194, 209, 0.05);
  --shadow-primary: 0px 8px 16px rgba(0, 129, 255, 0.2);
  --shadow-green: 0px 8px 16px rgba(9, 182, 109, 0.2);
  --shadow-yellow: 0px 8px 16px rgba(253, 191, 94, 0.2);
  --shadow-red: 0px 8px 16px rgba(255, 61, 87, 0.2);
  --shadow-blue: 0px 8px 16px rgba(34, 204, 226, 0.2);
}
